.App {
  text-align: center;
}

body {
 background-image: url("https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
 background-repeat: no-repeat;
background-size: auto;
}

.logo{
  width:30px;
}

.nav-header img,
.nav-header h1{
  display: inline-block;
  text-align: center;
}

.map{
   height: 500px;
   width: 600px;
   margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-links{
  height: 0;
  overflow: hidden;
  list-style-type: none;
}

.show-nav {
  height:100px
}

.nav-header{
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 3px;
  height: 500px;
 }

.column2 {
  float: left;
  width: 100%;
  padding: 3px;
  height: 500px;
 }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  overflow: auto;
  top: 5px;
  bottom: 50px;
}

.section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.house-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .house-card {
   /* width: calc(35% - 5px); */
   position: relative;
   border-radius: 5px;
   margin-right: 10px;
   margin-bottom: 20px;
   -webkit-box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.33);
    box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.33);
 }

 .house-card::before {
   content: '';
   position: absolute;
   height: 2px;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #fc2f70;
   transform-origin: bottom left;
   transform: scaleX(1);
   transition: transform 0.3s ease-in-out;
 }

 .house-card:hover::before {
   transform: scaleX(0);
   transform-origin: bottom right;
 }

 .house-image-container {
   width: 100%;
 }

 .card-image{
   width:100%;
 }

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }
 .image-card {
   width: calc(45% - 38px);
   /* width: calc(25% - 38px); */
   margin-right: 20px;
   margin-bottom: 20px;
 }

.info{
   text-align: left;
   float: left;
   width: 50%;
   padding: 20px;
   /* height: 500px; */
 }

 .row1:after {
   content: "";
   display: table;
   clear: both;
 }

.headline h1,
.headline p{
  display: inline-block;
  vertical-align: center;
  padding-right:0.25em;
  line-height: 28px;
}

 .loader {
   position: relative;
   width: 2em;
   height: 2em;
   border: 3px solid #3cefff;
   overflow: hidden;
   animation: spin 1s ease infinite;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .loader::before {
   content: '';
   position: absolute;
   top: -3px;
   left: -3px;
   width: 2em;
   height: 2em;
   background-color: hsla(185, 100%, 62%, 0.75);
   transform-origin: center bottom;
   transform: scaleY(1);
   animation: fill 1s linear infinite;
 }

 @keyframes spin {
   50%,
   100% {
     transform: rotate(360deg);
   }
 }

 @keyframes fill {
   25%,
   50% {
     transform: scaleY(0);
   }
   100% {
     transform: scaleY(1);
   }
 }

.HouseDetail, main::before{
  background: url('https://images.unsplash.com/photo-1542396817-804fa5be8ecf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')0/cover fixed;
}

main{
  position: relative;
  background: hsla(0, 0%, 100%, .6);
  overflow: hidden;
  text-align: center
}

/* main::before{
  content:'';
  position: absolute;
  top:0; right: 0; bottom: 0; left: 0;
  filter:blur(20px);
  margin: -30px;
} */

.breakdown{
  height: 0;
  overflow: hidden;
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #fc2f70;
}

button:hover {
  cursor: pointer;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #fc2f70;
  transform-origin: center;
  transform: scale(1);
}

button:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
